body {
    background: #282828 url('images/bg01.png') repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0px auto;
    width: 90%;
}

header {
    height: 70px;
    background: #1B1B1B url('images/bg01.png') repeat;
    margin-top: 2em;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 4px solid #BC1414;
}

aside {
    height: 70px;
    float: left;
    display: flex;
    align-items: center;
}

aside p {
    color: #BC1414;
    margin: 0px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    float: right;
    display: flex;
    align-items: center;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
<!-- какво е оverflow -->
}

nav ul li {
    margin: 0px;
    float: left;
}

nav ul li a {
    margin: 0px 20px;
    display: block;
    color: gray;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: bold;
}

nav ul li a:hover{
    color: white;
    background-color: #BC1414;
}

#banner{
    margin-top: 2em;
}

#banner img{
    width: 100%;
    height: auto;
}

section{
    display: inline-flex;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: hidden;
    background: white;
    color: #525252;
    border-bottom: 4px solid #BC1414;
}

.two-column {
    width: 45%;
    padding: 10px 20px;
}

.three-column{
    width: 30%;
    padding: 10px 20px;
    float: left;
}

.button{
    padding: 10px;
    width: 115px;
    height: 25px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #BC1414;
    border-radius: 5px;
    font-weight: bold;
}

footer p{
    padding: 1em 0em;
    font-size: 0.75em;
    letter-spacing: 0.2em;
    text-align: center;
    color: gray;
    text-transform: uppercase;
    border-top: 1px solid gray
}

#center-img {
    height: 450px;
    background: url('images/kozmetika.jpg') center center no-repeat;
}

.contacts{
    width: 500px;
    height: 450px;
    margin: 2em;
    background:  url(images/bg02.png) repeat;
    margin-left: 31%;
}

.one-column{
    width: 430px;
    height: 460px;
    padding: 2em auto 2em auto;
    margin: 10px 20px;
}
.one-column-header{
    /*margin:0px;*/
    padding: 0.1em;
    height: auto;
    background:url(images/bg02.png) repeat;
    margin-top: -3%;
    margin-left: 36%;

}

.one-column-header h1 h3{
    text-align: center;
}
h1{
    text-align: center;
}
.form-table{
    align-content: center;
    height: 300px;
    width: 420px;
    margin-left: -65%;
    margin-top: 33%;

}
.button-submit{
    align-content: center;
}
.form-table tr td{
    column-width: 210px;
}

input{
    width: 210px;
}
select{
    width: 212px;
}
textarea{
    width: 420px;
}

/*body.html*/
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.body div{
    margin:0px;
}

article.gallery{
    padding: 50px;
    color:red;
}
article.gallery img{
    width: 15%;
    margin: 5px;
}

.modal{
    display: none;
    position:fixed;
    width: 25%;
    height: auto;
    overflow: auto;
    background-color: white;
    padding: 25px;
    margin:0;
    border: 4px solid #BC1414;

}
#modal01{
    margin-top: 19%;
}
.modal-content{
    text-align: center;
    background-color: white;
}
.close{
    cursor: pointer;
    color: #BC1414;
    font-weight: bold;
    font-size: 22px;
    float: right;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    height: 100%;
}